@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
:root {
    --primary-color: #3A3A3A;
    --btn-bg-color: #E02C6D;
    --btn-text-color: #FFFFFF;
}







/* nav section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 9% 0;
}

.logo {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-items {
    display: flex;
    gap: 35px;
    align-items: center;
    list-style: none;
}

.nav-item {
    font-weight: 600;
}
.two-side-nav{
    display: flex;
    gap: 35px;
}

.nav-items a {
    text-decoration: none;
    color: var(--primary-color);
}
.sm-nav{
    display: none;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 80px 8% 0 9%;
    align-items: center;
    gap: 10%;
}

.banner-title {
    font-weight: 700;
    font-size: 3.25rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.banner-description {
    font-weight: 600;
    color: var(--primary-color);
}

.banner-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border-radius: 41px;
    padding: 10px 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    margin-top: 30px;
}

.arrow-icon {
    margin-bottom: -3px;
}

.banner-img {
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 475px;
    width: 475px;
}

.bn-img {
    max-width: 440px;
    max-height: 414px;
    padding-top: 30px;
    margin-right: 20px;
    scale: 0.95;
}

/* sponsors logos */
.sponsors-logos {
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,
            transparent 0%,
            #a9a9a9 50%,
            transparent 100%);
    border-image-slice: 1;
    padding: 36px;
    margin: 100px 9%;
}
/* collection section */
.collection{
    margin: 0 12%;
    margin-bottom: 100px;
    /* border: 1px solid red; */
}
/* all-in-one section */
.all-in-one{
    margin: 0 calc(12% - 30px);
}
/* footer section */
.footer{
    width: 100%;
}


/* smartphone styles */
@media screen and (max-width: 768px) {
    .nav {
        margin-top: 35px;
        flex-direction: column;
    }
    .nav-item {
        display: none;
    }
     .logo{
        display: none;
     }
    .two-side-nav{
        display: none;
    }
    .sm-nav{
        width: 100vw;
        /* gap: 5%; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sm-nav li{
        text-decoration: none;
        list-style: none;
        scale: 0.5;
    }
    .banner {
        flex-direction: column-reverse;
        margin-top: -60px;
    }
    .banner-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: -100px;
    }
    .banner-title {
        font-size: 1.75rem;
        margin-bottom: 0px;
    }
    .banner-btn {
        margin-top: 0px;
    }
    .banner-img {
        scale: 60%;
    }
    .bn-img{
        margin-top: 30px;
        scale: 0.85;
    }
    .sponsors-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 40px;
        max-width: 275.21px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 20px;
        border: none;
    }
    .sponsors-logo {
        width: 100px;
        height: auto;
    }
    /* collection section */
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}